@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');


* {
    margin: 0;
    padding: 0;
    
}

.container-posts {
    width: 100%;
    min-height: 100%;
    text-align: start;
    font-family: 'Raleway', sans-serif;
    
    

}


.post-header {
    background-color: #fafafa;
    height: 50px;
    width: 100%;
    border-top: 7px solid #3C353D;
  

}

a { text-decoration: none; }

.nav-header {
    margin-left: auto;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.nav-header-item {
   
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #2f2828;
    font-weight: bold;
    font-size: 1.1em;
    transition: filter 0.3s linear;
}

.nav-header-item:hover {
    filter: brightness(2.5);
}



.post-content {
    background-color: #f0f0f0;
    /* height: calc(100% - 56px); */
    width: 100%;
    /* height: calc(100% - 34px); */
    padding: 20px 0;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
 
    
 
}


.post-content > .reload-post-btn {
    align-self: flex-end;
    padding: 5px 10px;
    color: #fff;
    width: 145px;
    text-align: center;
    height: 40px;
    margin: 0 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #439529;
    transition: 0.3s linear;
    cursor: pointer;
} 

.post-content > .reload-post-btn:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
}