@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');


* {
    margin: 0;
    padding: 0;
    
}

.container-posts {
    width: 100%;
    height: 100vh;
    text-align: start;
    font-family: 'Raleway', sans-serif;
    
    

}


.post-header {
    background-color: #fff;
    height: 50px;
    width: 100%;
    border-top: 6px solid rgb(54, 48, 48);
  

}

a { text-decoration: none; }

.nav-header {
    margin-left: auto;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.nav-header-item {
   
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #2f2828;
    font-weight: bold;
    font-size: 1.1em;
}



.post-content {
    background-color: #f0f0f0;
    /* height: calc(100% - 56px); */
    width: 100%;
    /* height: calc(100% - 34px); */
    padding: 20px 0;
 
}


.post-list {
    list-style-type: none;
}

.post-list > .post-list-item {

    width: 750px;
    margin: 30px auto;
    background-color: #f8f8f8;
    padding: 18px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.post-list-item .post-title {
    font-weight: bold;
    font-size: 1.1em;
    /* ztext-transform: uppercase; */
}


.post-list-item > .post-body {
    
    margin: 15px 0;
   
}

.post-author {

    font-size: 0.9em;
    margin-left: 5px;

}